@font-face{
    font-family:Murderer ;
    src: url(youmurderer.ttf);
   
}
body{
    font-family: Murderer;
    background: url('blurhand.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}
h1{
    
    font-size: 20ch;
    text-align: center;
}
h2{
    font-size: 10ch;
    text-align: center;
}

p{
    font-size: 5ch;
    text-align: center;
}
a{
    color: white;
}